body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.name-color {
    color: orange;
}

.flexible-continer {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 45%;
    padding-left: 5%;
    padding-right: 5%;
}

.half-width img {
    width: 70%;
}

.link_button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

p {
    text-align: justify;
}

.exp {
    padding-left: 5%;

}

h2 {
    font-size: 40px;
}

.box-shado {
    box-shadow: 5px 5px 20px gray;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
}

.exp_area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#exp-developer {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 5;
}

#full_stack-developer {
    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 5;
}

footer p {
    text-align: center;
}

.drem-big {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}